* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E1DFDD;
  /* padding: 24px; */
  color: #000000;
}

.landing {
  margin-top: 220px;
}

.main-container {
  
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.flex-hz {
  display: flex;
}


.App {
  width: min(1440px, 80%);
  margin: auto;
  padding: 40px 0px;
}

.big-scr {

}

.inter-text-500 {
  font-family: 'Inter', sans-serif;
  font-size: 44px;
  font-weight: 500;
  line-height: 48px;
}

.inter-text-400 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.sr-no-container {
  font-family: 'Inter', sans-serif;
  font-size: 44px;
  font-weight: 600;
  /* text-decoration: underline; */
  border-bottom: 4px solid #000000;
  width: 80px;
  /* padding-bottom: 2px; */
}

.sr-no {
  position: absolute;
  bottom: 10px; 
  /* width: 50%; */
  /* transform: translateY(-10px); */
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000000;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
  /* transition-timing-function: cubic-bezier(.24,.64,.52,.83); */
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.pdy {
  padding: 24px 0px;
}